 
*{
    margin: 0%;
    padding: 0%;
}

.main{


    height: 120vh;
    background-color: antiquewhite;
}

.flag{
    height: 250px;
    width: 500px;
    background-color: green;
    position: relative;
    left: 50%;
    top: 50%;

    transform: translate(-50%,-50%);

}
.flag-red{
    height: 130px;
    width: 130px;
    background-color: red;
    position: absolute;
    left: 50%;
    top: 50%;
    transform:translate(-50%, -50%);
    border-radius: 100%;
    
}